<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TWScrollPageViewControllerDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E7021ABE1E4D51A70010715F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7021AD71E4D51A70010715F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7021AE21E4D51A80010715F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
